/*Barra de navegação vertical*/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(../imagens/seta.png) no-repeat left center;
}
*/

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#contato #navegacao .contato a,
#noticias #navegacao .noticias a { 
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}