* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    width: 750px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.aovivo #navegacao #aovivo,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{
    color: #fff;
    background: #de003e;
}

#conteudo {
    margin-top: 60px;
    background: blue;
    width: 760px;
  
}

#tres-colunas #primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 480px;
    float: left;
    margin: 0 10 20 195;
}

#uma-coluna #primario {
    width: 750px;
    float: left;
    margin: 0 0 20px 0px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}


#secundario {
    width: 255px;
    float: left;
    margin: 0 0 20px 15px;
}

/*Caixa*/
.caixa {
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background: white;
    padding: 5px;
    margin-top: 5px;
}

/* Formatação menus laterais*/

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 20px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    color: gray;
    padding-left: 20px;
}

/*Formatação formulário*/
label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit:hover {
    cursor: pointer;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    margin-top: 5px;
}

/*Formatação imagens*/
img {
    border: 2px solid #dfdfdf;
}

img.imagem-principal {
    border: 3px solid #dfdfdf;
    width: 98%;
}

/*Formatação cabeçalhos*/
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.9em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;

}

/*Formatação lista de notícias*/
#lista-noticia li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;}

#lista-noticia li a img {
    float: left;
    margin: 5px;
}

#lista-noticia li a {
    text-decoration: none;
    font-size: 0.8em;
}

#lista-noticia li a {
    text-decoration: none;
}

#lista-noticia li a h3{
    font-size: 0.9em;
    padding: 0;
    color: blue;
}

#lista-noticia li a p{
    font-size: 0.8em;
}

#lista-noticia li:hover{
    background: #eee;
    cursor: pointer;
}

/*Formatação página Fotos*/

#conteudo-fotos {
    margin-top: 60px;
    width: 760px;
}

#uma-coluna img {
    margin: 5px;
}

#conteudo-fotos li{
    margin-left: 50px;
}

#conteudo-fotos li img {
    width: 9em;
    float: left;
}

#conteudo-fotos img:hover{
    opacity: 0.8;
    transition: opacity 0.3s;
}


/*Formatação duas colunas*/

#noticias-duas-colunas {
    text-align: left;
    margin: 0;
    padding: 0;
}
#noticias-duas-colunas img {
    width: 98%;
    margin-top: 5px;
}

#noticias-duas-colunas h1 {
    background: #b10333;
    color: #fff;
    font-size: 25px;
    padding: 2px;
}

#noticias-duas-colunas h3 {
    text-align: justify;
    margin: 0;
    padding: 0;
}

#noticias-duas-colunas a {
    display: block;
    margin-top: 3px;
    margin-bottom: 5px;
}

.ajuste-texto {
    margin-top: 5px;             /* tira margin-top / margin-bottom */
    padding-top: 0;            /* garante sem padding */
    text-align: justify;   /* justifica o texto */
    text-justify: inter-word; /* melhora a distribuição de espaços em navegadores compatíveis */
    line-height: 1.4;      /* controla espaçamento entre linhas — ajuste se quiser mais/menos */
    hyphens: auto;         /* permite hifenização automática (quebra silábica) em navegadores que suportam */
    text-indent: 0;        /* remove recuo inicial, se houver */
    word-break: normal;    /* evita quebras estranhas de palavra */
    word-spacing: -2px;  /* padrão — ajuste se quiser compactar palavras */
}


/*Rodapé*/
#container-rodape {
    background: #294c71;
    padding: 20px;
    color: white;
}